*{
    margin: 0;
    padding: 0;
}

section{
    border: 1px solid;
    background-color: rgba(255, 182, 193, 0.5);
    width: 940px;
    height: fit-content;
    margin: auto;
}
#logo{
    display: flex;
    justify-content: space-between;
}
#para1{
    margin-top: 40px;
    font-size: x-large;
}
#para2{
    margin-left: 80px;
    margin-right: 20px;
    margin-top: -40px;
    font-size: x-large;
    transform: rotate(10deg);
    background-color: palevioletred;
    filter: blur(1px);
}
#heading{
    text-align: center;
    font-size: xx-large;
    /* border: 1px solid; */
    width: fit-content;
    margin: auto;
}
h5{
    /* font-size: x-large; */
    margin-top: 10px;
}
#para3{
    font-weight: bold;
    margin-top: 10px
}
/* #child{
    border: 1px solid;
    width: fit-content;
    margin: auto;
} */
#image2{
    float: right;
    margin: -70px 50px 0 0;
}
#course{
    margin-top: 30px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#exam-year{
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
}
#student-details{
    display: flex;
}
#table1 td{
    padding: 5px;
}
#data{
    padding: 5px;
    padding-left: 60px;
}
#table3, #table4{
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    width: 90%;
}
#table3 th{
    border: 1px solid;
}
#table3 td{
    border: 1px solid;
}
#table4{
    margin-top: 45px;
}
#table4 th{
    border: 1px solid;
}
#table4 td{
    border: 1px solid;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 175px;
}
#left-side,
#right-side{
    border: 1px solid;
    height: 70px;
}
#left-side{
    /* margin: auto; */
    width: 260px;
    margin-left: 50px;
}
#right-side{
    width: 460px;
    margin-right: 50px;
    background-color: white;
    /* margin-right: 50px; */
}
#note{
    text-align: center;
    margin-top: 10px;
}